header {
  background-color: white;
  width: 100%;
  top: 0;
  position: relative;
  z-index: 100;
}
header div.center {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
}
header div.center ul.members {
  display: flex;
  justify-content: flex-end;
  padding: 4px;
}
header div.center ul.members li {
  margin-left: 15px;
  position: relative;
}
header div.center ul.members li:not(:last-child)::after {
  content: "";
  display: block;
  position: absolute;
  height: 13px;
  border-right: 1px solid #bbb;
  opacity: 0.7;
  top: 5px;
  right: -7.5px;
}
header div.center ul.members li a {
  font-size: 0.75em;
}
@media (hover: hover) {
  header div.center ul.members li a:hover {
    text-decoration: underline;
    color: purple;
  }
}
header div.center ul.members li a.active {
  color: purple;
  font-weight: 600;
}
header div.center div.header-middle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header div.center div.header-middle ul.header-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
}
header div.center div.header-middle ul.header-logo li a {
  position: relative;
  font-size: 1.05em;
  font-weight: 600;
  color: #999;
}
header div.center div.header-middle ul.header-logo li a:hover {
  color: purple;
}
header div.center div.header-middle ul.header-logo li a.active {
  color: purple;
}
header div.center div.header-middle ul.header-logo li a.beauty::after {
  content: "N";
  position: absolute;
  top: 0;
  left: 104%;
  color: red;
  font-size: 0.3em;
  font-weight: 600;
}
header div.center div.header-middle ul.header-logo li .logo-img {
  margin-right: 5px;
}
header div.center div.header-middle div.header-search {
  position: relative;
  width: 40%;
}
header div.center div.header-middle div.header-search input {
  border: 1px solid purple;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}
header div.center div.header-middle div.header-search input::-moz-placeholder {
  font-size: 0.9em;
  color: rgba(51, 51, 51, 0.6);
}
header div.center div.header-middle div.header-search input::placeholder {
  font-size: 0.9em;
  color: rgba(51, 51, 51, 0.6);
}
header div.center div.header-middle div.header-search .search-btn {
  position: absolute;
  font-size: 1.2em;
  color: purple;
  top: 20%;
  right: 3%;
}
header div.center div.header-middle ul.header-buttons {
  display: flex;
}
header div.center div.header-middle ul.header-buttons li button {
  font-size: 1.5em;
  padding: 15px;
}
header div.center div.header-middle ul.header-buttons li button:hover {
  color: purple;
}
header div.center div.header-gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  padding-bottom: 15px;
}
header div.center div.header-gnb div.categories {
  position: relative;
  cursor: pointer;
}
header div.center div.header-gnb div.categories:hover span {
  color: purple;
}
header div.center div.header-gnb div.categories:hover ul.category-list {
  display: flex;
}
header div.center div.header-gnb div.categories span {
  font-size: 1em;
  font-weight: 600;
}
header div.center div.header-gnb div.categories ul.category-list {
  width: 230px;
  position: absolute;
  flex-direction: column;
  padding-top: 20px;
  top: 100%;
  left: 0;
  display: none;
}
header div.center div.header-gnb div.categories ul.category-list i {
  margin-right: 10px;
}
header div.center div.header-gnb div.categories ul.category-list li {
  font-size: 0.8em;
  padding: 15px 10px;
  background-color: #f6f5f5;
  box-shadow: 0 0 1px #000;
  transition: all 0.1s;
  position: relative;
}
header div.center div.header-gnb div.categories ul.category-list li:hover {
  color: white;
  background-color: rgba(128, 0, 128, 0.9);
}
header div.center div.header-gnb div.categories ul.category-list li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
header div.center div.header-gnb div.categories ul.category-list li.new::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 0.5em;
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: red;
}
header div.center div.header-gnb ul.gnb-menu {
  display: flex;
  width: 45%;
  justify-content: space-between;
}
header div.center div.header-gnb ul.gnb-menu li a {
  font-weight: 600;
}
header div.center div.header-gnb ul.gnb-menu li a:hover {
  color: purple;
  text-decoration: underline;
}
header div.center div.header-gnb div.deliv-guide {
  font-size: 0.8em;
  border: 2px solid #eee;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
header div.center div.header-gnb div.deliv-guide span {
  color: purple;
  font-weight: 600;
}
header div.center div.header-gnb div.header-search {
  display: none;
}
header div.center div.header-gnb .header-buttons {
  display: none;
}

header.fix {
  position: fixed;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
header.fix div.center .members {
  display: none;
}
header.fix div.center .header-middle {
  display: none;
}
header.fix div.center .header-gnb .categories {
  margin-right: 50px;
}
header.fix div.center .header-gnb .gnb-menu {
  width: 40%;
}
header.fix div.center .header-gnb .deliv-guide {
  display: none;
}
header.fix div.center .header-gnb .header-search,
header.fix div.center .header-gnb .header-buttons {
  display: block;
  position: relative;
}
header.fix div.center .header-gnb .header-search {
  position: relative;
  width: 25%;
}
header.fix div.center .header-gnb .header-search input {
  border: none;
  background-color: #eee;
  border-radius: 5px;
  padding: 7px;
  width: 100%;
}
header.fix div.center .header-gnb .header-search input::-moz-placeholder {
  font-size: 0.8em;
  color: rgba(51, 51, 51, 0.6);
}
header.fix div.center .header-gnb .header-search input::placeholder {
  font-size: 0.8em;
  color: rgba(51, 51, 51, 0.6);
}
header.fix div.center .header-gnb .header-search .search-btn {
  position: absolute;
  font-size: 1em;
  color: black;
  top: 20%;
  right: 5%;
}
header.fix div.center .header-gnb .header-buttons {
  display: flex;
  width: 10%;
}
header.fix div.center .header-gnb .header-buttons li button {
  font-size: 1.5em;
  padding: 0 15px;
}
header.fix div.center .header-gnb .header-buttons li button:hover {
  color: purple;
}

.top-banner {
  background-color: purple;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 0.9em;
  position: relative;
}
.top-banner span {
  font-weight: 600;
}
.top-banner button {
  position: absolute;
  right: 415px;
  opacity: 0.7;
}/*# sourceMappingURL=header.css.map */