section.home-timeout-section {
  div.center {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .timeout-info-container {
      width: 25%;
      h2.timeout-title {
        font-size: 1.7em;
        font-weight: 600;
        line-height: 120%;
      }
      h3.timeout-subtitle {
        margin-top: 1vh;
        color: #777;
      }
      div.timeout-clock-container {
        margin-top: 1.5vh;
        font-size: 2em;
        i {
          margin-right: 7px;
          color: rgb(202, 11, 202);
        }
        span {
          font-weight: 600;
        }
      }
      p.timeout-desc {
        margin-top: 3vh;
        font-size: 0.9em;
        color: #aaa;
      }
    }
    .prod-container {
      width: 75%;
      display: flex;
      justify-content: flex-end;
      .product {
        &:not(:last-of-type) {
          margin-right: 18px;
        }
      }
    }
  }
}

section.prod-section2 {
  .prod-container {
    .product {
      width: 32%;
    }
  }
}

section.prod-section3 {
  .prod-container {
    justify-content: flex-end;
    .product {
      width: 43%;
    }
  }
}
