main {
  position: relative;
  .sticky-banner-scope {
    position: absolute;
    right: 1%;
    top: 50vh;
    width: 80px;
    height: 100%;
    .sticky-banner {
      position: sticky;
      top: 25%;
      width: 100%;
      height: 300px;
      img.deliv-img {
        width: 100%;
        margin-bottom: 3px;
      }
      button {
        width: 100%;
        margin-top: 3px;
        font-size: 0.7em;
        padding: 5px;
        text-align: center;
        border: 1px solid #aaa;
      }
      .recent-prod-container {
        text-align: center;
        margin-top: 8px;
        border: 1px solid #aaa;
        padding: 3px;
        padding-bottom: 8px;
        h5 {
          font-size: 0.7em;
          padding: 3px;
        }
        img {
          padding: 3%;
          width: 80%;
          margin: 0 auto;
        }
      }
    }
  }
}

// product 공통 레이아웃
section.common-prod-section {
  padding: 7vh 0;
  div.center {
    .prod-container {
      .product {
        display: flex;
        flex-direction: column;
        text-align: left;
        .prod-figure {
          overflow: hidden;
          position: relative;
          img {
            width: 100%;
            transform: scale(1);
            transition: all .5s;
            cursor: pointer;
          }
          figcaption {
            position: absolute;
            top: 8px;
            left: 8px;
            background-color: rgb(220, 90, 220);
            font-size: 0.9em;
            font-weight: 600;
            padding: 5px 8px;
            border-radius: 7px;
            color: white;
          }
        }
        .prod-cart-btn {
          padding: 5px;
          margin-top: 6px;
          border: 0.2px solid #aaa;
          border-radius: 5px;
          transition: all 0.3s;
          &:hover {
            background-color: purple;
            color: white;
          }
        }
        h3.prod-name {
          text-align: left;
          margin-top: 6px;
          font-weight: 600;
        }
        span.original-price {
          margin-top: 5px;
          color: #aaa;
          text-decoration: line-through;
        }
        div.discount {
          span {
            font-weight: 600;
            &.dc-percent {
              color: orangered;
              margin-right: 5px;
            }
          }
        }
        &:hover img {
          transform: scale(1.05);
        }
      }
    }
  }
}

.banner-section {
  div.center {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }
}

.trigger {
  border: 1px solid red;
  opacity: 0;
}

.top-btn {
  position: fixed;
  width: 50px; height: 50px;
  right: 2%; bottom: 5%;
  background-color: #f9f7f7;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 2px #000;
  box-sizing: border-box;
  transform: translateY(110px);
  opacity: 0;
  transition: all .5s;
  pointer-events: none;
  z-index: 30;
  &:hover {
    background-color: rgb(135, 10, 135);
    color: white;
  }
  &.active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
  }
}