main {
  section.home-visual {
    width: 100%;
    .carousel {
      &:hover button {
        opacity: 1;
      }
      position: relative;
      .swiper-slide {
        img {
          width: 100%;
        }
      }
      button {
        position: absolute;
        width: 50px; height: 50px;
        color: #FFF;
        background-color: rgba(#000,.2);
        border-radius: 50%;
        opacity: 0;
        transition: opacity .5s;
        &::after {content: '';}
        &.swiper-button-prev {
          left: 13%;
        }
        &.swiper-button-next {
          right: 13%;
        }
      }
      .pagination {
        display: block;
        position: absolute;
        text-align: center;
        z-index: 10;
        color: white;
        font-size: .8em;
        line-height: 25px;
        background-color: rgb(#000,.2);
        width: 60px; height: 25px;
        border-radius: 15px;
        bottom: 20px;
        left: 70%;
      }
    }
    }
}
